.lead {
  display: flex;
  flex-direction: column;
  margin: 56px 148px 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 49px 48px 0 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 48px auto 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .lead {
    margin: 50px auto 0;
  }
}
